* {
	margin: 0;
	font-family: monospace;
	line-height: 1.2em;
	font-weight: normal;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.box {
	margin-top: 6%;
	width: 100%;
}

header {
	width: 100%;
	height: 20%;
	overflow: auto;
	border-bottom: solid 5px #7d97ad;
}

#logo {
	position: relative;
	top: 0.3em;
	left: 0.1em;
	width: 10%;
	float: left;
}

#author-infos {
	float: right;
	text-align: right;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 14px;
}

#main-img-container {
	width: 100%;
	height: 400px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#featured-works-title {
	position: relative;
	font-weight: bold;
	color: #7d97ad;
}

.featured-work {
	margin-top: 5%;
	float: left;
	text-align: center;
	width: 100%;
}

#colors-table {
	width: 100%;
}

#colors-row {
	width: 33.3%;
	height: 100px;
}

#color-02b3e4 {
	background-color: #02b3e4;
}

#color-2d3c49 {
	background-color: #2d3c49;
}

#color-7d97ad {
	background-color: #7d97ad;
}

#colors-descriptions {
	text-align: center;
	font-size: 18px;
}

@media screen and (min-width: 400px) {
	.box {
		margin-top: 5%;
	}

	#logo {
		width: 9%;
	}
	#colors-row {
		height: 125px;
	}
}

@media screen and (min-width: 460px) {
	#logo {
		width: 8%;
	}
}

@media screen and (min-width: 520px) {
	#logo {
		width: 7%;
	}
	#colors-row {
		height: 150px;
	}
}

@media screen and (min-width: 590px) {
	#logo {
		width: 6%;
	}
	#colors-row {
		height: 175px;
	}
}

@media screen and (min-width: 690px) {
	#logo {
		width: 5%;
	}
	#colors-row {
		height: 200px;
	}
}

@media screen and (min-width: 830px) {
	#logo {
		width: 10%;
	}
	* {
		font-size: 25px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 35px;
	}
	h4 {
		font-size: 30px;
	}
	#colors-row {
		height: 225px;
	}
	#colors-descriptions {
		font-size: 33px;
	}

}

/* PC/IPAD-PRO VERSION */
@media screen and (min-width: 1000px) {

}

@media screen and (min-width: 1030px) {
	#logo {
		width: 3%;
	}
	#colors-row {
		height: 250px;
	}
}

@media screen and (min-width: 1299px) {
	#logo {
		width: 2%;
	}
}