* {
	margin: 0;
	font-family: monospace;
	line-height: 1.2em;
	font-weight: normal;
}

main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.box {
	margin-top: 6%;
	width: 100%;
}

header {
	width: 100%;
	height: 20%;
	overflow: auto;
	border-bottom: solid 5px #7d97ad;
	display: flex;
	justify-content: space-between;
}

#logo {
	position: relative;
	top: 0.3em;
	left: 0.1em;
	width: 10%;
}

#author-infos {
	text-align: right;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 14px;
}

#main-img-container {
	width: 100%;
	height: 400px;
}

img {
	width: 100%;
	height: 100%;
}

#featured-works-title {
	position: relative;
	font-weight: bold;
	color: #7d97ad;
}

.featured-work {
	margin-top: 5%;
	text-align: center;
	width: 100%;
}

#colors {
	display: flex;
	justify-content: center;
}

.color-container {
	font-size: 18px;
	width: 33%;
	text-align: center;
}

.show-color {
	height: 100px;
}

#color-02b3e4 {
	background-color: #02b3e4;
}

#color-2d3c49 {
	background-color: #2d3c49;
}

#color-7d97ad {
	background-color: #7d97ad;
}

a {
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 400px) {
	.box {
		margin-top: 5%;
	}

	#logo {
		width: 9%;
	}
	.show-color {
		height: 125px;
	}
}

@media screen and (min-width: 460px) {
	#logo {
		width: 8%;
	}
}

@media screen and (min-width: 520px) {
	#logo {
		width: 7%;
	}
	.show-color {
		height: 150px;
	}
}

@media screen and (min-width: 590px) {
	#logo {
		width: 6%;
	}
	#colors {
		width: 588px;
		padding-top: 5%;
		margin: auto;
	}
	.color-container {
		width: 196px;
	}
	.show-color {
		height: 175px;
	}
}

@media screen and (min-width: 690px) {
	#logo {
		width: 5%;
	}
	#main-img-container {
		height: 600px;
	}
}

@media screen and (min-width: 830px) {
	#logo {
		width: 8%;
	}
	* {
		font-size: 25px;
	}
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 35px;
	}
	h4 {
		font-size: 23px;
	}
}

@media screen and (min-width: 1000px) {
	* {
		font-size: 20px;
	}
	body {
		padding: 3% 8%;
	}
	h4 {
		margin-bottom: 8%;
	}
	.box {
		margin-top: 2%;
	}
	.right {
		margin-left: 15%;
	}
	#colors {
		width: 10%;
		height: 425px;
		order: 1;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding-top: 0;
		display: inline;
	}
	.color-container {
		width: 100%;
		height: 33%;
		text-align: right;
	}
	.show-color {
		width: 100%;
		height: 60%;
		margin-left: auto;
	}
	#main-img-container {
		width: 85%;
		height: 425px;
		order: 2;
		padding-left: 5%;
	}
	#featured-works-container {
		order: 3;
	}
	#featured-works-title {
		margin-left: 1%;
	}
	.featured-work {
		margin-top: 1%;
		width: 30%;
	}
	#work3 {
		margin-right: 0;
	}
	#featured-works-aligner {
		display: flex;
		justify-content: space-between;
		height: 70%;
	}
}

@media screen and (min-width: 1300px) {
	* {
		font-size: 25px;
	}
	#logo {
		width: 7%;
	}
	.show-color {
		width: 70%;
	}
}

@media screen and (min-width: 1700px) {
	#logo {
		width: 6%;
	}
}

@media screen and (min-width: 1900px) {
	#logo {
		width: 5%;
	}
}